@font-face {
    font-family: "SF_Pro";
    src:
        url(".\font\SF-Pro.ttf") format("otf")
}

html {
    height: 10000px;
}

body {
    background-color: black;
    font-family: "SF_Pro";
    color: white;
    margin: 0;
    padding: 0;
}

#topmenu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #303030;
    padding-top: 7px;
    box-sizing: border-box;
    text-align: left;
    z-index: 10;
}

#topmenu_ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 10px;
}

.topmenu_buttons {
    list-style: none;
}

#topmenu_ul li a {
    text-align: center;
    font-size: 100%;
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}

.slideshow-fade {
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;

    width: 100%;
    height: 100%;
    opacity: 0.6;
    object-fit: cover;

    li {
        list-style: none;
        width: 100%;
        height: 100%;

        img {

            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#welcome {
    position: absolute;
    left: 40%;
    top: 30%;
    transform: translateX(-90%);
    z-index: 1;
    text-align: center;
    font-size: 300%;
}

#description {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 41%;
    transform: translateX(-90%);
}

#self_introducion_title {
    position: absolute;
    text-align: left;
    top: 115vh;
    left: 7vw;
    font-size: 330%;
}



#self_introduction {
    width: 100vw;
    top: 140vh;
    left: 50vw;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);


    .self_introduction_flexbox {
        display: flex;
        margin-bottom: 8vh;
    }

    .self_introduction_contents {
        margin: auto;
        text-align: center;
        height: 50vh;
        width: 46vw;
    }

    .self_introduction_img {
        position: absolute;
        text-align: center;
        width: 46vw;
        height: 50vh;
        object-fit: cover;
        opacity: 0.5;
        border-radius: 20px;
        transform: translateX(-50%);
    }

    .self_introduction_description_title {
        position: absolute;
        top: 2vh;
        left: 5vw;
        font-size: 200%;
    }

    .self_introduction_description_main {
        top: 10vh;
        position: absolute;
        text-align: left;
    }

    #self_introduction_plant,
    #self_introduction_onsen {
        transform: translateY(-50%);
    }

    #self_introduction_programming h2,
    #self_introduction_programming h3 {
        left: 5vw;
    }

    #self_introduction_plant h2,
    #self_introduction_plant h3 {
        left: 3vw;
    }

    #self_introduction_3dpuzzle h2 {
        top: 60vh;
        left: 5vw;
    }

    #self_introduction_3dpuzzle h3 {
        top: 68vh;
        left: 5vw;
    }

    #self_introduction_onsen h2 {
        top: 2vh;
        left: 3vw;
    }

    #self_introduction_onsen h3 {
        top: 10vh;
        left: 3vw;
    }

    #self_introduction_book h2 {
        top: 92vh;
        left: 55vw;
    }

    #self_introduction_book h3 {
        top: 100vh;
        left: 55vw;
    }

    #self_introduction_book img{
        left:75vw;
        top:90vh
    }
}

#background{
    position:absolute;
    left:50vw;
    top:300vh;
    transform: translateX(-50%);
    width:100vw;
    opacity: 0.6;
    object-fit: cover;
}

#impressions{
    position: absolute;
    left:50vw;
    transform: translateX(-50%);
    top:330vh;
    width:60vw;
    height:150vh;
    text-align: center;
    background-color: #ffffff;
    

    h2{
        font-size: 200%;
        color:#000000;
    }

    h2:first-of-type {
        margin-top:10vh;
    }
    h2:last-of-type{
        margin-top:23vh;
    }
    h3 {
        width:100%;
        margin-top: 3vh;
    }
}
